@import "partials/settings";
@import "partials/foundation";

 .hidden{
 	display:none;
 }

.slickContainer{
	height:350px;
	margin-bottom:5%;
}

.slickPhotos{
	height:350px;
	margin-bottom:5%;
	background-size:cover;
}

.slickPhotosWrapper{
	height:inherit;
}

.slick-list{
	height:350px;
}

.slick-slide{
	min-height:350px;
}