@import "partials/settings";
@import "partials/foundation";
$light : #FFF;
$logo : #7C777C;
$author: #A6B5CC;
$authorIndividual: #C7C7C7;
.logoHeader{
	background-image:url('http://subtlepatterns.com/patterns/symphony.png');
}

body{
	@media #{$medium}{
	}
	background-image:url('http://subtlepatterns.com/patterns/symphony.png');
}

.photoContainer{
	padding-top:20px;
	font-weight:bolder;
	color:$author;
	list-style-type: none;
	margin:auto;
}

.photoAuthorDescription{
	font-family: 'Fjalla One', sans-serif;
}

.photoAuthor{
	width:250px;
	color:$authorIndividual;
	text-align:left;
}
.photoAuthor p{
	font-family: 'Droid Sans', sans-serif;
	font-weight:bold;
	overflow:hidden;
}

.photoImg img{
	display:inline-block;
	background-color:blue;
	height:250px;
	width:400px;
}

.logoHeader{
	background-image:url('http://subtlepatterns.com/patterns/symphony.png');
	text-align:center;
	margin:auto;
}

.logoText{
	font-family: 'Droid Sans', sans-serif;
	font-size:50px;
	text-align:center;
	margin:auto;
}

.photoSlideHeight{
	width:600px;
	background-size:cover;

	@media #{$medium}{
		display:block;
		height: auto;
		width:1000px;
		max-width: 1000px;
	}

}

.slickPhotos{
	height:auto;
	background-repeat:no-repeat;
	background-size:cover;
	@media #{$medium}{
		background-repeat:no-repeat;
		margin:auto;
		width:500px;
		height:500px;
	}
}

.slick-track{
	height:300px;
	@media #{$medium} {
	height:500px;
	}
}

.imageTest{
	height:250px;
	width:100%;
}

.individualPhotoContainer{
	margin:auto;
	width:300px;
}

.individualPhotoContainer .photoDescHolder{
	margin-top:20px;
}

.individualPhotoContainer .photoDescription p{
	font-family: 'Fjalla One', sans-serif;	
}

.individualPhotoContainer .copyrightText{
	font-family: 'Fjalla One', sans-serif;	
	color:$authorIndividual;
}
