a(href="#" data-reveal-id="loginModal") Edit Photo
	div(id="loginModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
		form(action='/login',method='POST')
			each error in errors
				p(class='errorMessage')=error
			p Username
			input(type='text' name='username')
			p Password
			input(type='password' name='password')
			br
			Button(value='submit') Submit
a(class="close-reveal-modal" aria-label="Close") ×

