<!DOCTYPE html>
html(lang="en")
	head
		meta(name="viewport", charset="UTF-8", content="width=device-width", initial-scale="1.0")
		title Document
		link(href='/css/styles.css',type='text/css',rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css")
		div(class='bodyWrapper')
			div(class='row')
				div(class="small-12 medium-8 columns")
					h1(class='hidden') _ARCHITEKT
					img(class='logo' src='/assets/transparent-log.png')
				div(class='hide-for-small-only') Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.  Free Architect WordPress Theme
			block body
		script(src='/js/client.js')
		script(src="//code.jquery.com/jquery-1.11.3.min.js")
		script(src="/bower_components/foundation/js/foundation.min.js")
		script(src="/bower_components/foundation/js/foundation/foundation.reveal.js")
		script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js")
		script.
			$(document).foundation();
		script.
			$('.slickContainer').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 500,
				arrows:false
			});