<!DOCTYPE html>
html(lang="en")
	head
		meta(name="viewport", charset="UTF-8", content="width=device-width", initial-scale="1.0")
		title Document
		link(href='/css/styles.css',type='text/css',rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css")
		div(class='bodyWrapper large-centered columns large-12')
			div(class='row large-12-columns headerContainer')
				div(class="small-9 large-7 columns logoContainer")
					h1(class='hidden') _ARCHITEKT
					img(class='logo' src='/assets/transparent-log.png')
				div(class='headerTextContainer large-4 columns hide-for-small-only')
					div(class='hide-for-small-only headerText') Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.  Free Architect WordPress Theme
				-if(!authenticated){
				a(class='small-1 large-1-columns loginLink' href="#" data-reveal-id="loginFormModal")
					div(class='loginButtonEl') Login
						div#loginFormModal.reveal-modal(data-reveal aria-labelledby="Login" aria-hidden="true" role="dialog")
							form#loginFormModalId(action='' method='POST')
								p.errorMessage
								p Username
								input(type='text' name='username')
								p Password
								input(type='password' name='password')
								br
								input(id='submitLoginForm' type='submit',value='submit')
					-}else{
				div(class='menuLink small-3 large-1 columns')
					a(class='small-3-columns large-1' href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:5000") Menu
					ul(id="hover1" class="f-dropdown small-3-columns navTextBox" data-dropdown-content)
						li
						a(class='addPhotoLink' href="#" data-reveal-id="addPhotoModal")
							div(class='addPhotoEl') Add Photo
								div#addPhotoModal.reveal-modal(data-reveal aria-labelledby="Login" aria-hidden="true" role="dialog")
									form#loginFormModalId(action='/new_photo' method='POST')
										p Author
										input(type='text' name='author')
										p Link
										input(type='text' name='link')
										p Description
										input(type='text' name='description')											
										br
										input(id='addNewPhoto' type='submit',value='submit')
						li
							a(href="/gallery") Gallery
						li
							a(href='/logout') Logout
				-}
			block body


		script(src='/js/client.js')
		script(src="//code.jquery.com/jquery-1.11.3.min.js")
		script(src="/bower_components/foundation/js/foundation.min.js")
		script(src="/bower_components/foundation/js/foundation/foundation.reveal.js")
		script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js")
		script.
			$(document).foundation();
		script.
			$('.slickContainer').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 500,
				arrows:false
			});
