extends headerTemplate
block append head
	body
	div(class='photoContainer row')
		div.slickPhotoHolder
			div.slickPhotos
				each photo in photos
					div(class='photoSlideHeight' style='background-image:url("#{photo.link}")')
		hr
		div
			each photo in photos
				div(class='photo columns small-12 medium-6 large-4')
					div(class='galleryPhoto')
						a(href='/gallery/'+photo.id): img(src=photo.link ,class='imageTest')
					p(class='photoAuthorDescription') #{photo.author}
		hr		

