extends headerTemplate
block logoText
	div(class='logoText') _ARCHITEKT
block body
	div(class='row slickPhotosWrapper small-12 columns large-centered large-12 columns')
		div(class='slickContainer row small-centered')
			each photo in photos
				div(class='slickPhotos' style='background-image:url("#{photo.link}")')
	hr(class='break large-12-columns large-centered row')
	div(class='galleryPhotos columns small-12 large-12 row large-centered ')
			div(class='row photo columns small-10 large-12 small-centered')
				each photo in photos
					div(class='galleryPhoto large-4 columns')
						a(href='/gallery/'+photo.id): img(src=photo.link ,class='singlePhoto')
						p(class='photoAuthorDescription') #{photo.author}		

