extends headerTemplate
block body
	a(href="#" data-reveal-id="loginModalId")
		div(id='loginButtonId') Login
			div(id="loginModalId" class="reveal-modal" data-reveal aria-labelledby="LoginModal" aria-hidden="true" role="dialog")
				p Username
				input(type='text' name='username')
				p Password
				input(type='password' name='password')
				br
				Button(value='submit') Submit
