extends headerTemplate
block body
	form(action='/login',method='POST')
		each error in errors
			p(class='errorMessage')=error
		p Username
		input(type='text' name='username')
		p Password
		input(type='text' name='password')
		br
		Button(value='submit') Submit
