<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Login
body
	form(action='/login',method='POST')
		p Username
		input(type='text' name='username')
		p Password
		input(type='text' name='password')
		br
		Button(value='submit') Submit
	