extends headerTemplate

append head
block body
		form(action='/new_photo',method="POST")
			p Author:
			input(type='text', name='author')
			p Image Link
			input(type='text', name ='link')
			p Description:
			input(type='text', name='description')
			br
			br
			Button(type='submit') Create Photo!
			
