extends headerTemplate

append head
	body
		form(action='/new_photo',method="POST")
			p Author:
			input(type='text', name='author')
			p Image Link
			input(type='text', name ='link')
			p Description:
			input(type='text', name='description')
			br
			br
			input(type='submit',value='Create Photo')
			
