extends headerTemplate
block append head
	body
		div(class='individualPhotoContainer')
			li
				h2(class='photoAuthor')=photo.author
				a(class='photoImg'): img(src=photo.link)
				p(class='photoDescription')=photo.description
				!=createEditLink(photo.id)	
				!=createDeleteLink(photo.id)
