extends headerTemplate
block logoText
	div(class='logoTextLeft') _ARCHITEKT
block body
	div(class='individualPhotoContainer')
		div(class='photoAuthor')
			p=photo.author 
		div(class='photoImg' style='background-image:url("#{photo.link}")')
		div(class='photoDescHolder')
			div(class='photoDescription')
				p=photo.description
		div
			p(class='copyrightText') Copyright www.fantasticnorway.co
		!=createEditLink(photo.id)	
		!=createDeleteLink(photo.id)
		!=createCancelLink()
