extends headerTemplate
block body
		div(class='individualPhotoWrapper')
			div(class='individualPhotoContainer small-12 columns')
				div(class='photoAuthor') 
				div(class='photoImg small-8 small-centered columns' style='background-image:url("#{photo.link}")')
				div(class='photoDescHolder')
					div(class='photoDescription')
						p=photo.description
				div
					p(class='copyrightText') Copyright www.fantasticnorway.co
				-if(!user){
				a(href="#" data-reveal-id="editPhotoModal") Edit Photo
				div#editPhotoModal.reveal-modal(data-reveal aria-labelledby="EditPhoto" aria-hidden="true" role="dialog")
					form#editFormModalId(method='POST')
						input(type='hidden', value='PUT', name='_method')
						p Author
						input(type='text' name='author')
						p Link
						input(type='text' name='link')
						p Description
						input(type='text' name='description')
						br
						input(id='photoId' type='hidden' value='#{photo.id}')
						input(id='submitEditForm' type='submit',value='submit')
				!=createDeleteLink(photo.id)
				!=createCancelLink()
				-}
