<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	li(id='photo_'+photo.id)
		h4=photo.author
		a: img(src=photo.link)
		h4=photo.description
		!=createDeleteLink(photo.id)	