extends headerTemplate
block body
		div(class='individualPhotoWrapper')
			div(class='individualPhotoContainer small-12 columns')
				div(class='photoAuthor')
					p=photo.author 
				div(class='photoImg small-8 small-centered columns' style='background-image:url("#{photo.link}")')
				div(class='photoDescHolder')
					div(class='photoDescription')
						p=photo.description
				div
					p(class='copyrightText') Copyright www.fantasticnorway.co
				!=createEditLink(photo.id)	
				!=createDeleteLink(photo.id)
				!=createCancelLink()
