<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	li(id='photo_'+photo.id)
		
		h2=photo.author
		div#imageHolder
			a: img(src=photo.link)
		p=photo.description
		!=createEditLink(photo.id)	
		!=createDeleteLink(photo.id)