extends headerTemplate
block append head
	block body
		li(id='photo_'+photo.id)
			h2=photo.author
			div#imageHolder
				a: img(src=photo.link)
			p=photo.description
			!=createEditLink(photo.id)	
			!=createDeleteLink(photo.id)
